<div class="container">
<div class="form-group">
  <%= form_for(@movie) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, id: :movie_title %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, id: :movie_description %>
  </div>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div class="form-group">
    <%= f.file_field :logo %>
  </div>
  <%= f.submit "Додати фільм", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
</div>
