<p id="notice"><%= notice %></p>
<div class="container" style="background-color: black">
  <h1>Фільми</h1>
  <table>
    <tbody>
      <% @movies.each do |movie| %>
      <ul class="list-unstyled">
      <li class="media">
        <img class=<%=image_tag movie.logo.url%>
        <div class="media-body">
          <h1 class="mt-0 mb-1"><%= movie.title %> </h1>
        </h1>
    
      Рейтинг: <%= movie.votes_count %>
         <%= link_to "+", upvote_movie_path(movie)%>, </h5>
      Перегляди:
      <%= movie.views_count %>
      <p class="card-text"><%= movie.description %></p>
    </div>
  </li>
  <% end %>
</tbody>
</table>
